.node {
    border: 1px solid #AAAAAA;
    position : absolute; 
    padding: 5px;
    border-radius: 10%;
    user-select: none;
}

.ghostnode {
    /* border: 1px solid #AAAAAA;  */
    position : absolute; 
    /* this is required */
    padding: 5px; 
    user-select: none;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 3px;
    margin: 10px;
    padding: 10px
}
